	  
	  .inicio{
		background-image: url("imagenes/header.jpg");
		opacity: 1.0;
	  }
	  
      	  
	  #tituloInicio{
		  position:absolute;
      top:5%;
      left: 25%;
      width:80%;
      height: 20%;
  background-position: center;
  color: #000000;
  font-size: 60px;
  font-family: 'Pacifico', cursive;
  text-shadow:1px 1px 0 #604e18;
	  }

      	   #navInicio{
      margin: auto;
      width:1100px;
      height:400px;
	  top: -230px;
	  left: 100px;    
	  position: relative;
  text-align: justify;
      }
