 *{
      margin:0;
      padding:0;
      list-style:none;
	  font-family: 'Arvo', serif;
      }
      
      header{
      position:relative;
      height:120px;
	    /* Old browsers */
  background: #141E30;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(-45deg, #35577D, #141E30);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(-45deg, #35577D, #141E30);
            
      }
      #logo{
       position:absolute;
      top:30px;
      left:30px;
      width:80px;
      height: 80px;
  background-image: url("logoRPV.jpg");
  background-size: cover;
  background-position: center;
      }
	  
	  #titulo{
		  position:absolute;
      top:20px;
      left:500px;
      width:1000px;
      height: 80px;
  background-position: center;
  color: #FFFFFF;
  font-size: 60px;
	  }
	
.menu a {
    color: white;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.menu a:hover {
    background-color: white;
	color: black;
}

.menu a.active {
    background-color: #4CAF50;
    color: white;
}

.menu {
  display: table;
  height: 100px;
    background: #141E30;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(-45deg, #35577D, #141E30);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(-45deg, #35577D, #141E30);
  color: #FFFFFF;
  font-family: 'Arvo', serif;
  font-size: 13 px;
  padding: 10px;
text-align: left;  
  text-align: left;
  position: relative;
}

      
      nav #mortificacion{
     margin:0px 2px;
      margin: auto;
      width:600px;
      height:700px;
	  top: -160px;
	  left: 140px;    
	  position: relative;
      
      }
            nav #oracion{
     margin:0px 2px;
      margin: auto;
      width:1000px;
      height:48px;
	  top: 800px;
	  left: 140px;    
	  position: relative;
      
      }
	  
    #mortificacion , #oracion {
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  width: 600px;
  height: 700px;
  overflow: scroll;
}

      
      footer{
         position:relative;
      margin: 20px auto;
      width:1000px;
      height:70px;
      background:#888;
      }
      
  
      