.charlas  {
		   background-image: url("imagenes/virgen.jpg");
	  }
.question {
  text-align: center;
  position: relative;
  top: 30%;
}

.consagracion, .renuncias, .plan {
  border: 1px solid #000;
  margin: 20px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border-radius: 10px;
}

.imageConsagracion {
  display: inline-block;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  backface-visibility: hidden; 
  border-radius: 10px;
  background-image: url("imagenes/consagracion.jpg"); 
}

.cambioConsagracion {
  transition: .5s ease;
  opacity: 0;
  position: relative;
  top: -70%;
  transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  text-align: center;
}

.consagracion:hover .cambioConsagracion{
  opacity: 1;
}

.imageRenuncias {
  display: block;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  backface-visibility: hidden; 
  border-radius: 10px;
  background-image: url("imagenes/consagracion.jpg"); 
}

#tituloCharlas{
  font-family: 'Aladin',  cursive; 
  font-size: 80px; 
  left: 35%;
}
.cambioRenuncias {
  transition: .5s ease;
  opacity: 0;
  position: relative;
  top: -70%;
  transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  text-align: center;
}

.renuncias:hover .cambioRenuncias {
  opacity: 1;
}
.imagePlan {
  display: block;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  backface-visibility: hidden; 
  border-radius: 10px;
  background-image: url("imagenes/consagracion.jpg"); 
}

.cambioPlan {
  transition: .5s ease;
  opacity: 0;
  position: relative;
  top: -70%;
  transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  text-align: center;
}

.plan:hover .cambioPlan {
  opacity: 1;
}
.renuncias .text{
    background-color: rgb(153, 114, 45);
}

.consagracion .text{
  background-color: rgb(48, 67, 109);
}

.plan .text{
    background-color: rgb(204, 178, 153);
}

.text {
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}